<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Predicted Genetic Interactions in Four Organisms</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}" type='text/css'>
        <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
        <script type="module" src="static/app.js"></script>
    </head>
    <body>
        
        <div class='search-panel'>
            <h1 class='search-panel__title'>Search for Genetic Interactions</h1>
            <form action="{{ url_for('index', species_id=1, threshold=0.5) }}" method="GET">
                <div class='input-line'>
                    <label for="selectSpecies">Species</label>
                    <select id="selectSpecies" name="species_id">
                        <option value="1" {% if species_id == 1 %}selected{% endif %}>S. cerevisiae</option>
                        <option value="2" {% if species_id == 2 %}selected{% endif %}>S. pombe</option>
                        <option value="3" {% if species_id == 3 %}selected{% endif %}>H. sapiens</option>
                        <option value="4" {% if species_id == 4 %}selected{% endif %}>D. melanogaster</option>
                    </select>

                    <label for="selectThres">Interaction Threshold</label>
                    <select id="selectThres" name="threshold">
                        <option value="0.5" {% if threshold == 0.5 %}selected{% endif %}>0.5</option>
                        <option value="0.6" {% if threshold == 0.6 %}selected{% endif %}>0.6</option>
                        <option value="0.7" {% if threshold == 0.7 %}selected{% endif %}>0.7</option>
                        <option value="0.8" {% if threshold == 0.8 %}selected{% endif %}>0.8</option>
                        <option value="0.9" {% if threshold == 0.9 %}selected{% endif %}>0.9</option>
                    </select>
                    
                    <label for="tbGeneA">Gene A</label>
                    <input type="text" id="tbGeneA" name="gene_a" value="{{ gene_a }}">
                    
                    <label for="tbGeneB">Gene B</label>
                    <input type="text" id="tbGeneB" name="gene_b" value="{{ gene_b }}">

                    <br>
                    <input type="checkbox" id="cbPublishedOnly" name="published_only" {{ published_only }}>
                    <label for="cbPublishedOnly">Published Only</label>
                    
                    <input type="submit" value="Search">

                </div>
                
    
    
    <!-- 
                <label for="tbGeneA">First Gene</label>
                <input type="text" id="tbGeneA" value="">
    
                <label for="tbGeneB">Second Gene</label>
                <input type="text" id="tbGeneB" value=""> -->
    
    
            </form>
        </div>
        
        <div class='l-columns'>
            <div class='l-columns__col' style='max-width: 600px;' id='searchResultsCol'>
                <div class='search-pages'>
                    <div class='search-pages__count'>
                        {{ n_rows }} records found
                    </div>
                    <div>
                        {% if pagination.prev_page > -1 %}
                        <a href="{{ url_for('index', species_id=species_id, threshold=threshold, page=pagination.prev_page, gene_a=gene_a, gene_b=gene_b) }}">Previous Page</a>
                        {% endif %}
                        Page {{ pagination.page + 1 }} out of {{ pagination.pages }}
                        {% if pagination.next_page > -1 %}
                        <a href="{{ url_for('index', species_id=species_id, threshold=threshold, page=pagination.next_page, gene_a=gene_a, gene_b=gene_b) }}">Next Page</a>
                        {% endif %}
                    </div>
                </div>
                
                <table class='search-results'>
                    <thead>
                        <tr>
                            <th>Gene A</th>
                            <th>Gene B</th>
                            <th>Probability of GI</th>
                            <th>Reported GI</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                        <tr data-gi_id="{{ row.gi_id }}">
                            <td>{{ row.gene_a_locus_tag }} ({{ row.gene_a_common_name }})</td>
                            <td>{{ row.gene_b_locus_tag }} ({{ row.gene_b_common_name }})</td>
                            <td>{{ '%0.2f' | format(row.prob_gi) }}</td>
                            <td>{% if row.reported_gi == 1 %}<strong>Yes</strong>{% else %}No{% endif %}</td>
                        </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class='l-columns__col' style='width: 128px;'>
                <canvas id='pointer'></canvas>
            </div>
            <div class='l-columns__col'>
                <br>
                <ul class='c-tabs'>
                    <li class='js-tab-link' data-tab='publications'>Publications</li
                    ><li class='js-tab-link' data-tab='gene_a_features'>Gene A Features</li
                    ><li class='js-tab-link' data-tab='gene_b_features'>Gene B Features</li
                    ><li class='js-tab-link' data-tab='joint_features'>Joint Features</li
                    ><li class='js-tab-link' data-tab='z_features'>MN Model</li>
                </ul>
                <div class='js-interp' id='publications'></div>
                <div class='interp-plot js-interp' id='gene_a_features'></div>
                <div class='interp-plot js-interp' id='gene_b_features'></div>
                <div class='interp-plot js-interp' id='joint_features'></div>
                <div class='interp-plot js-interp' id='z_features'></div>
                
            </div>
        </div>
        
    </body>
</html>