<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Predicted Genetic Interactions in Four Organisms</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}" type='text/css'>
        <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
        <script type="module" src="static/app.js"></script>
    </head>
    <body>
        
        <div class='search-panel'>
            <h1 class='search-panel__title'>Search for Genetic Interactions</h1>
            <form action="{{ url_for('index', species_id=1, threshold=0.5) }}" method="GET">
                <div class='input-line'>
                    <label for="selectSpecies">Species</label>
                    <select id="selectSpecies" name="species_id">
                        <option value="1" {% if species_id == 1 %}selected{% endif %}>S. cerevisiae</option>
                        <option value="2" {% if species_id == 2 %}selected{% endif %}>S. pombe</option>
                        <option value="3" {% if species_id == 3 %}selected{% endif %}>H. sapiens</option>
                        <option value="4" {% if species_id == 4 %}selected{% endif %}>D. melanogaster</option>
                    </select>

                    <label for="selectThres">Interaction Threshold</label>
                    <select id="selectThres" name="threshold">
                        <option value="0.5" {% if threshold == 0.5 %}selected{% endif %}>0.5</option>
                        <option value="0.6" {% if threshold == 0.6 %}selected{% endif %}>0.6</option>
                        <option value="0.7" {% if threshold == 0.7 %}selected{% endif %}>0.7</option>
                        <option value="0.8" {% if threshold == 0.8 %}selected{% endif %}>0.8</option>
                        <option value="0.9" {% if threshold == 0.9 %}selected{% endif %}>0.9</option>
                    </select>
                    

                    <input type="submit" value="Search">

                </div>
                
    
    
    <!-- 
                <label for="tbGeneA">First Gene</label>
                <input type="text" id="tbGeneA" value="">
    
                <label for="tbGeneB">Second Gene</label>
                <input type="text" id="tbGeneB" value=""> -->
    
    
            </form>
        </div>
        
        <div class='l-columns'>
            <div class='l-columns__col' style='flex: .65;'>
                <div class='search-pages'>
                    <div class='search-pages__count'>
                        {{ n_rows }} records found
                    </div>
                    <div>
                        {% if pagination.prev_page > -1 %}
                        <a href="{{ url_for('index', species_id=species_id, threshold=threshold, page=pagination.prev_page) }}">Previous Page</a>
                        {% endif %}
                        Page {{ pagination.page }} out of {{ pagination.pages }}
                        {% if pagination.next_page > -1 %}
                        <a href="{{ url_for('index', species_id=species_id, threshold=threshold, page=pagination.next_page) }}">Next Page</a>
                        {% endif %}
                    </div>
                </div>
                
                <table class='search-results'>
                    <thead>
                        <tr>
                            <th>Gene A</th>
                            <th>Gene B</th>
                            <th>Observed</th>
                            <th>Interacting</th>
                            <th>Probability of GI</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                        <tr data-gi_id="{{ row.gi_id }}">
                            <td>{{ row.gene_a }}</td>
                            <td>{{ row.gene_b }}</td>
                            <td>{% if row.observed == 1 %}<strong>Yes</strong>{% else %}No{% endif %}</td>
                            <td>{% if row.observed_gi == 1  %}<strong>Yes</strong>{% else %}No{% endif %}</td>
                            <td>{{ '%0.2f' | format(row.prob_gi) }}</td>
                        </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class='l-columns__col'>
                <div id='interpretation'></div>
            </div>
        </div>
        
    </body>
</html>