html {
    font-size: 12pt;
}

body {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

}

*, *:before, *:after {
    box-sizing: border-box;
}

.plotly {
    overflow: visible;
}

 svg {
    overflow: visible !important;
}

.c-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: flex-start;
}

.c-header__title {
    color: #4a4a4a;
    flex: 1;
}

.c-header__maintitle {
    padding: 0;
    margin: 0;
    font-size: 2.4rem;
}

.c-subtitle {
    padding: 0;
    margin: 10px;
    font-size: 1.6rem;
    font-weight: normal;
}

.c-header__logo {
    width: 256px;
}

.c-search-panel {
    padding: 0;
    margin: 10px;
}

.c-search-panel__tabs {
    display: flex;
    flex-direction: row;
    background: #6e61ff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.c-search-panel__tab {
    padding: 10px;
    font-size: 1.6rem;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.c-search-panel__tab a {
    text-decoration: none;
    color: white;
}

.c-search-panel__tab a:hover {
    text-decoration: underline;
}
.c-search-panel__body {
    border: 1px solid #6e61ff;
    border-top: 0;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.c-search-panel__body > p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    padding: 0;
}

.c-search-panel__tab--selected {

    font-weight: bold;
    background: white;
    color: #4a4a4a;
}
.c-search-panel input, .c-search-panel select, .c-search-panel button {
    font-size: 1.2rem;
}

.button {
    background-color: #6e61ff;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    border-radius: 5px;
}

#btnSearch {
    margin: auto;
    display: block;
}

.c-search-panel__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.c-search-panel__label {
    flex: 0.25;
}

.c-search-panel__input {
    flex: 1;
}
.c-input-label {
    font-size: 1.2rem;
    font-weight: bold;
}

.c-search-panel__row p {
    margin: 5px 0 0 0 ;
    padding: 0;
}

/*
    Based on https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l
*/
.c-search-results {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    visibility: hidden;
}

.c-search-results th, .c-search-results td {
    padding: 10px;
    text-align: center;
}

.c-search-results thead {
    background: #6e61ff;
    color: white;
}

.c-search-results tr.clickable {
    cursor: pointer;
}
.c-search-results tbody tr {
    border-bottom: 1px solid #dddddd;

}

.c-search-results tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.c-search-results tbody tr:last-of-type {
    border-bottom: 2px solid #6e61ff;
}

.c-pagination {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
}

.c-pagination__page-control {
    cursor: pointer;
    color: #6e61ff;
    font-weight: bold;
}

.l-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

body.modal-open {
    overflow: hidden;
}

.l-modal__content {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.c-modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.6rem;
}
.l-scrollable {
    flex: 1;
    overflow-y: scroll;
}
.c-modal-title {
    padding: 10px;
    margin: 0;
    color: #4a4a4a;
    font-size: 2.4rem;
}

.c-modal-subtitle {
    padding: 10px;
    margin: 0;
    font-size: 1.6rem;
}

.l-cards {
    display: flex;
    flex-direction: row;
}

.c-card {
    margin: 10px;
    flex: 1;
    /*box-shadow: 10px 10px 25px rgba(0,0,0,0.1);*/
}

.c-expansion {
    height: 128px;
}
.c-card--gene_a {
    --color: #ffb700;
}

.c-card--gene_b {
    --color: #0095ff;
}

.c-card--joint {
    --color: #d000ff;
}

.c-card--pubs {
    --color: #7d8282;
}

.c-card__title {
    font-size: 1.6rem;
    font-weight: bold;
    background: var(--color);
    color: white;
    text-align: center;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.c-card__content {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--color);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.c-card__content--small {
    font-size: 1.2rem;
    font-weight: normal;
}

.c-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 3.6rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.c-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:  row;
    flex: 1;
    align-items: center;
}

.c-nav li {
    padding: 10px;
    margin: 0;
    font-size: 2rem;
}

.c-nav li.selected {
    font-weight: bold;
    font-size: 2.4rem;
}

.c-nav a {
    text-decoration: none;
    color: #4a4a4a;
}

.c-nav a:hover {
    text-decoration: underline;
}
