@font-face {
    font-family: 'Foco';
    font-style: normal;
    font-weight: normal;
    src: local('Foco'), url('./fonts/FOCO.woff') format('woff');
}
@font-face {
    font-family: 'Foco Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Foco Bold'), url('./fonts/FOCOBOLD.woff') format('woff');
}

:root {
    --first-color: #0059a0;
    --second-color: #29aed3;
    --third-color: #446a80;
    --font-color: rgb(29, 29, 27);
    --main-title-font: 3.4rem;
    --large-font: 2rem;
    --med-font: 1.8rem;
    --small-font: 1.6rem;
    --small-spacing: 5px;
    --large-spacing: 10px;
    --bold-font: 'Foco Bold';
}
html {
    font-family: 'Foco', sans-serif;
    font-size: 10pt;
    
}

body {
    color: var(--font-color);
    margin: 50px;
    padding: 0;
}
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}
*, *:before, *:after {
    box-sizing: border-box;
}

.plotly {
    overflow: visible;
}

 svg {
    overflow: visible !important;
}

.c-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--large-spacing);
    align-items:center;
}

.c-header__title {
    color: var(--font-color);
    flex: 1;

}

.c-header__maintitle {
    padding: 0;
    margin: 0;
    font-size: var(--main-title-font);
    font-family: var(--bold-font);
    font-weight: normal;
}

.c-header__logo {
    width: 256px;
}

/*
    Search Panel
*/
.c-search-panel {
    padding: 0;
    margin: var(--large-spacing);
    font-size: var(--small-font);
}

.c-search-panel__tabs {
    display: flex;
    flex-direction: row;
    background: var(--first-color);
    color: white;
}

.c-search-panel__tab {
    padding: var(--large-spacing);
    font-size: var(--med-font);
    margin-top: var(--large-spacing);
    margin-left: var(--large-spacing);
    cursor: pointer;
    
}

.c-search-panel__tab--selected {
    font-family: var(--bold-font);
    background: white;
    color: var(--font-color);
}
.c-search-panel__tab a {
    text-decoration: none;
    color: white;
}

.c-search-panel__tab a:hover {
    text-decoration: underline;
}

.c-search-panel__body {
    border: 1px solid var(--first-color);
    border-top: 0;
    padding: var(--large-spacing);
    
}

.c-search-panel input, .c-search-panel select, .c-search-panel button {
    font-size: var(--med-font);
}

.button {
    background-color: var(--second-color);
    border: none;
    color: white;
    font-weight: normal;
    font: var(--bold-font);
    padding: var(--large-spacing);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--med-font);
}

#btnSearch {
    margin: auto;
    display: block;
    width: 300px;
    cursor: pointer;
}

.c-search-panel__row {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--large-spacing);
}

.c-search-panel__label {
    flex: 0.25;
}

.c-search-panel__input {
    flex: 1;
}

.c-input-label {
    font-size: var(--small-font);
    font-weight: bold;
}

.c-search-panel__row p {
    margin: var(--small-spacing) 0 0 0 ;
    padding: 0;
}

/*
    Based on https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l
*/
.c-search-results {
    font-size: var(--small-font);
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    visibility: hidden;
}

.c-search-results th, .c-search-results td {
    padding: var(--large-spacing);
    text-align: center;
}

.c-search-results thead {
    background: var(--first-color);
    color: white;
}

.c-search-results tr.clickable {
    cursor: pointer;
}
.c-search-results tbody tr {
    border-bottom: 1px solid #dddddd;

}

.c-search-results tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.c-search-results tbody tr:last-of-type {
    border-bottom: 1px solid var(--first-color);
}

.c-pagination {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    margin: var(--large-spacing);
    font-size: var(--med-font);
}

.c-pagination__page-control {
    cursor: pointer;
    color: var(--second-color);
    font-weight: bold;
}

.l-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

body.modal-open {
    overflow: hidden;
}

.l-modal__content {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.c-modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--med-font);
}
.l-scrollable {
    flex: 1;
    overflow-y: scroll;
}
.c-modal-title {
    padding: var(--large-spacing);
    margin: 0;
    color: var(--font-color);
    font-size: var(--main-title-font);
    font-weight: normal;
    font-family: var(--bold-font);
}


.l-cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.c-card {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--med-font);
    padding: var(--large-spacing);
    cursor: pointer;

}

.c-card:hover {
    background-color: var(--font-color);
    color: var(--color);
}
.c-expansion {
    height: 128px;
}

.c-card--gene_a {
    --color: #ffb700;
    --font-color: #805b00;
    background-color: var(--color);
    color: var(--font-color);
}

.c-card--gene_b {
    --color: #0095ff;
    --font-color: #004a80;
    background-color: var(--color);
    color: var(--font-color);
}

.c-card--gene_c {
    --color: #00ffea;
    --font-color: #008075;
    background-color: var(--color);
    color: var(--font-color);
}

.c-card--joint {
    --color: #b2ff00;
    --font-color: #476600;
    background-color: var(--color);
    color: var(--font-color);
}
.c-card--gi_prob {
    --color: #d000ff;
    --font-color: #530066;
    background-color: var(--color);
    color: var(--font-color);
}

.c-card--pubs {
    --color: #7d8282;
    --font-color: #323434;
    background-color: var(--color);
    color: var(--font-color);
}


.c-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 3.6rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-details {
    background: var(--second-color);
    color: white;
    padding: var(--large-spacing);
    
    display: block;
    font-weight: normal;
    font-family: var(--bold-font);
    cursor: pointer;
}

.btn-details:hover {
    background-color: var(--first-color);
    color: white;
}

#content_pubs {
    font-size: var(--med-font);
}